<html>
<head>
    
     <script src="https://code.jquery.com/jquery-3.4.1.js"> </script>
    <script>
    $(document).ready(function(){
        $("button.select").click(function(){
            let id= $(this).attr("data-id")
            $("#id").val(id)
            $("#formid").submit()
            console.log(id)
        })
          $("button.edit").click(function(){
            let id= $(this).attr("data-id")
            $("#editid").val(id)
            $("#edit").submit()
            console.log(id)
        })
        
         $("button.delete").click(function(){
            let id = $(this).attr("data-id")
            $.ajax({
                url: "deletelist",
                method : "POST",
                data : {
                    
                    id: id
                },
                success : function(result){
                    console.log(result)// check if result (doc) is ok ==1 mean successfuly
                    if(result.ok ==1){
                        alert("Successfully Deleted")
                        // TODO : Remove deleted Html
                        // delete or remove row
                        // get data id for td
                        
                        $("tr[data-id='" + id + "']").remove()
                    }else{
                        
                        alert("Something went Wrong")
                    }
                        
                }
                
            })
            })
                                  
     
        
        
        
    })
    
    </script>
    
        <style>
            body{
                background-image:url(map.jpg)
            }
            input[type=submit]{
	            display: inline-block;
	            background-color: #f5f5f5;
	            background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	            background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	            background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	            background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	            background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	            color: #444;
	
	            border: 1px solid #dcdcdc;
	            -webkit-border-radius: 2px;
	            -moz-border-radius: 2px;
	            border-radius: 2px;
	
	            cursor: default;
	            font-size: 11px;
	            font-weight: bold;
	            text-align: center;
	            height: 27px;
	            line-height: 27px;
	            min-width: 54px;
	            padding: 0 8px;
	            text-decoration: none;
            }
            input[type=submit]:hover{
            	background-color: #F8F8F8;
            	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
            	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
            	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
            	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
            	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
            	
            	border: 1px solid #C6C6C6;
            	color: #333;
            	
            	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
            	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
            	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
            }

        </style>
    </head>
<body>
   
    <table>
        <tbody>
           <h3> Your Lists </h3>
    {{#each list}}
        <!--    <tr>
                
                tr data-id= "{{_id}}">
                
                <td >
                    <span delete data-id="{{_id}}">
                        {{username}}
                    </span>
                    <button class="delete" data-id="{{_id}}"> Delete </button>
                </td>
                <td id="{{_id}}"> {{username}}</td>
                <!-- td has _id
                
      <td id=_id> username
                <button class="delete"> Delete</button></td>
             -->
                
                
        <tr>
            <tr data-id="{{_id}}">
                <!-- td has _id-->
      <td> {{name}}</td>
  <td > {{date}}</td>
 <td> <button class="select" data-id="{{_id}}"> Select</button></td>    
        <td> <button class="edit"data-id="{{_id}}"> Edit</button> </td>    
                <td><button class="delete" data-id="{{_id}}"> Delete</button></td>    
        </tr>
        {{/each}}
    </tbody>
    </table>
     <form action="createlistpage">
     
        <input id="create" type="submit" value="Create"> <br>
        
    </form>
     <!-- allow td to be clicked 
using script when clicked id from user it will submit-->
    <form action="selectlist" id="formid" method="POST">
    <input type="hidden" name="id" id="id">
    </form>
    
     <form action="deletelist" id="deletelist" method="POST">
    <input type="hidden" name="id" id="deleteid">
    </form>
    
    <form action="edit" id="edit" method="POST">
    <input type="hidden" name="id" id="editid">
    </form>
   
   
    
    <form action="back">
    <input type="submit" value="Back">
    </form>
    
    </body>






</html>